<!DOCTYPE html>
<html>
<head>
  <title>Mockr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="mockr-body">
  <%current_uri = request.env['PATH_INFO']%>
  <% if current_uri != "/" %>
      <nav class="navbar" style="background: white;">
        <div class='navbar-wrap'>
          <h1 class="navbar-title">Mockr</h1>
          <div class="navbar-link-wrap">
            <a class="home-navbar" href="/">Home</a>
            <a class="new-question-navbar" href="/questions/new">Ask Question</a>
            <a class="contact-navbar" href="">Contact</a>
          </div>
        </div>
      </nav>
    <% end %>

  <% if current_user && current_uri != "/" %>
    <div class="logout-btn-wrap"><%= link_to "Logout", '/logout', class: "logout-btn" %></div>
  <% elsif current_uri == "/" %>
    <%= %>
  <% else %>
    <div class="login-toggle">  <a href="/login" class="navbar-login">Login</a> <a href="/signup" class="navbar-signup">Sign Up</a></div>
  <% end %>
<%= yield %>
  <script>
    document.getElementById("question-index-wrap").style.background = "white";
  </script>
</body>
</html>
